/*
 html {
    scroll-behavior: smooth;
}
*/

:root {
    --black: #0D0D0D;
    --white: #fff;
    --darker-grey: #CBCAC6;
    --light-grey: #EBEBEB;
    --brown: #BFA18F;
    --beige: #E9D8C0;

}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style: none;
}

/*Fonts and sizes*/

h1 {
    font-weight: 600;
}

h2,
h3,
h4 {
    font-weight: 500;
}


p {
    font-weight: 300;

}

body {
    color: var(--black);
    font-family: "Raleway", sans-serif;
}

/*  H E A D E R */
header {
    display: inline-flex;
    /*    padding-top: 10px;*/
}

.logo {
    width: 30em;
    margin: 0px;
    /*    display: inline-block;*/
}

.tagline {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: -120px;
    color: var(--darker-grey);
}

/* burger menu */


.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 2px;
    background-color: #333;
    margin: 12px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 11px);
    transform: rotate(-45deg) translate(-9px, 11px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -11px);
    transform: rotate(45deg) translate(-8px, -11px);
}

.navbar {
    z-index: 999;
    width: 300px;
    /*    height: 100%;*/
    background-color: var(--light-grey);
    position: fixed;
    top: 0px;
    padding: 110px 0 30px 20px;
    right: -300px;
    transition: right .8s;
    margin-right: -30px;
}

.change {
    right: 30px;
}

.burgerMenu {
    /*    display: inline-block;*/
    cursor: pointer;
    /*    margin-left:auto;*/
    /*    padding:55px 80px 0 0;*/

    position: fixed;
    top: 50px;
    right: 80px;
}

.navItem {
    padding: 10px;
}

.navLink {
    font-size: 20px;
    font-weight: lighter;
    padding: 0 5px;
}

.navLink:hover {
    /* This is just something - NEED TO DECIDE HOW SHOULD LOOK*/
    border-bottom: solid var(--brown) 0.1px;
    padding-bottom: 5px;
    color: var(--brown);
}


/*   BASIC  G R I D  LAYOUT Anna  */
body {
    display: grid;
    grid-template-areas: "header""slides""main""ads""footer";
    grid-template-columns: 1fr 2fr 2fr;
    margin: 0px;
}

header {
    grid-area: header;
    grid-column: 1/4;
    grid-row: 1;
    margin: 0px;
}

.slides {
    grid-area: slides;
    grid-column: 1/4;
    grid-row: 2;
}

main {
    grid-area: main;
    grid-column: 2/4;
    grid-row: 3;
}


.ads {
    grid-area: ads;
    grid-column: 1;
    grid-row: 3;
    margin: 10px 10px 10px 40px;
}

footer {
    grid-area: footer;
    grid-column: 1/4;
}

/*Calendar styling*/

.calendar {
    width: 260px;
    text-align: center;
    margin-bottom: 205px;
    margin-right: 25px;
}

.day-of-week,
.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 16px;
    height: 10px;
    width: 10px;
    margin-top: 5px;
    padding: 0 5px;
    position: relative;
    z-index: 2;
}

.date-grid button:first-child {
    grid-column: 5;
}

.day {
    padding: 2px;
    margin-bottom: 5px;
}

.date-grid {
    margin-top: 15px;
    grid-gap: 3px;
}

.calendar-btn {
    border: none;
    background: transparent;
    height: 10px;
    width: 10px;
    margin: 10px 10px;
}

.calendar-btn :hover {
    background-color: black;
    color: white;
}

.calendar-btn :active {
    background-color: black;
    color: white;
}

.month {
    display: flex;
    text-align: center;
}

time {
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 3px;

}

.month {
    display: inline-block;
    padding: -1px 120px;;
}

.month p {
   display:inline-block;
    width: 200px;
}

.arrow1 {
    display: inline;
    padding-right: 50px;
}

.arrow2 {
    display: inline;
    padding-left: 45px;
}

/*Calendar styling finished*/

/*Ads styling*/

.ads-img {
    width: 20vw;
    margin: 5px 0;

}

@media only screen and (max-width:950px) {
    /*the size is just a random guess, need to change when we find the correct one*/

    /*    basic grid smaller Anna*/
    body {
        grid-template-columns: 1fr;
    }

    header {
        grid-column: 1;
        grid-row: 1;
    }

    .slides {
        grid-column: 1;
        grid-row: 2;
    }

    main {
        grid-column: 1;
        grid-row: 3;
    }

    .ads {
        grid-column: 1;
        grid-row: 4;
        margin: 0px;
        /*  needs to be changed */
    }

    footer {
        grid-column: 1;
        grid-row: 5;
    }

    /*   basic grid layout end */


    .logo {
        width: 20em;
    }

    .tagline {
        margin-bottom: 10px;
        margin-left: -80px;
        color: var(--darker-grey);
        font-size: 14px;
    }

    .burgerMenu {
        top: 30px;
        right: 40px;
    }

    /* burger menu changes to X - this makes it smaller than it was in desktop*/
    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 2px;
        background-color: #333;
        margin: 8px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -5px);
        transform: rotate(45deg) translate(-8px, -5px);
    }

    /* burger menu finished*/
    .ads-img {
    margin: 10px 0;
    }

    .footer-items{
        width: 44%;
    }

}


@media only screen and (max-width:500px) {

    .logo {
        width: 15em;
        padding-top: 7px;
    }

    .burgerMenu {
        top: 30px;
        right: 25px;
    }

    .navbar {
        width: 100%;
        height: 100%;
        padding: 110px 18px 100px;
        right: -120%;
        margin: 0px;
    }

    .tagline {
        margin-bottom: 0px;
        margin-left: -190px;
        color: var(--darker-grey);
        font-size: 13px;
    }

    .change {
        right: 0;
    }

    .navItem {
        padding: 20px;
        text-align: center;
    }

    .calendar {
        margin-left: 10%;
    }

    .ads-img {
    width: 150px;
    margin: 5px 0;
    }
        .footer-items{
        width: 100%;
    }

}

/* burger menu code inspired by these two sites: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js and
https://www.youtube.com/watch?v=BN6fH1nRDxA
*/


/*
STYLING FOR CAROUSEL
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"rel="stylesheet" > * {


*/

* {

    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */
.mySlides {
    text-align: center;
    display: none;
}

/*Crop images*/

.image-crop {
    overflow: hidden;
    height: 300px;
    width: auto;
    text-align: center;
}

/* Next & previous buttons */

i {
    border: solid #BFA18F;
    border-width: 0 3px 3px 0;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: #BFA18F;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.right {

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

/*
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
*/
}

/*
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);

}
*/



/* Position the "next button" to the right */
.right {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.left:hover,
.right:hover {
    background-color: #CBCAC6;
}

/* Caption text */
.caption-text {
    font-family: 'Raleway', sans-serif;
    color: #0D0D0D;
    font-size: 25px;
    padding: 20px;

    /*    position: absolute;*/

/*    position: absolute;*/

    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The line indicators */
.line {
    cursor: pointer;
    height: 5px;
    width: 40px;
    margin: 0 2px;
    background-color: #BFA18F;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.line:hover {
    background-color: #CBCAC6;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/*END : STYLING FOR CAROUSEL*/


/*EMAIL FORM STYLING*/
/* Style the form element with a border around it */
/*
form {
    width: 20vw;
    border: 4px solid #BFA18F;
}
*/

/* Add some padding and a grey background color to containers */
.newsletter-container {
    border: 4px solid #0D0D0D;
    width: 20vw;
    padding: 20px;
    background-color: #0D0D0D;
    color: #EBEBEB;
}

/* Style the input elements and the submit button */
input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #CBCAC6;
    box-sizing: border-box;
}

/*
 Add margins to the checkbox
input[type=checkbox] {
    margin-top: 16px;
}
*/

/* Style the submit button */
input[type=submit] {
    color: #0D0D0D;
    background-color: #EBEBEB;
    border: 2px #CBCAC6;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/*MAIN PAGE*/

.main-wrapper{
    width: 100%;
    overflow: hidden;
    margin: 20px;
}

.border-main{
    width: 90%;
    height: 2px;
    background: black;
}

@supports (display:grid){
    main{
        max-width: 10000px;
        margin: 0;
    }

    .event-item{
        margin: 0;
        background: #EBEBEB;
        margin: 10px;
        display: flex;
        flex-flow: column;
        width: 200px;
        height: 250px;

    }

    .events{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-top: 50px;
        padding: 50px;
    }
}

.events img{
    width: 50%;
    margin-left: 70px;
    margin-top: 20px;
}

.events h3{
    margin-left: 50px;
    text-align: end;
    padding-right: 8px;
    font-size: 15px

}

.events h4{
    margin-top: 0;
    font-size: 10px;
    text-align: end;
    padding-right: 8px;
}

.events p{
    margin-top: 0;
    font-size: 14px;
    text-align: end;
    padding-right: 8px;
}

.vertical-txt{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-right: 180px;
    padding-top: 80px;
    position: absolute;
}

.vertical-txt2{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-right: 180px;
    padding-top: 179px;
    position: absolute;
}

.vertical-txt3{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-right: 180px;
    padding-top: 60px;
    position: absolute;
}

.vertical-txt4{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-right: 180px;
    padding-top: 150px;
    position: absolute;
}

.vertical-txt5{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-right: 180px;
    padding-top: 140px;
    position: absolute;
}

.vertical-txt6{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-right: 180px;
    padding-top: 160px;
    position: absolute;
}

.magazine-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 100px;
    margin-right: 20px;
}

.magazine-item{
    margin: 25px;
}

.magazine-item img{
    width: 50%;
    float: left;
}

.magazine-item p{
    display: flex;
    padding: 10px;
    font-size: 12px;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    background: #BFA18F;
    font-size: 1rem;
    width: 200px;
    height: 50px;
    font-family: "raleway", sans-serif;
}

.center-btn{
    text-align: center;
    padding: 50px;
}

  .magazine-main{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }


/* FOOTER*/

footer{
    width: 100%;
    background: #BFA18F;
    display: block;
}

.inner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

/*sections inside the footer*/

.footer-items{
    width: 22%;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-left: 30px;
}

.footer-items p{
    text-align: justify;
    line-height: 20px;
}

.border{
    height: 2px;
    width: 40px;
    background: black;
}

footer ul{
    list-style: none;
    letter-spacing: 0.5px;
}

footer ul a{
    text-decoration: none;
    outline: none;
}

footer ul a:hover{
    color: white;
}

footer ul li{
    margin: 10px 0;
    height: 25px;
}

/*social media icons*/

footer img{
    width: 20%;
    margin-top: 10px;
    margin-right: 10px;
}

/*media queries for footer*/

/*
@media only screen and (max-width: 1085px){
    .footer-items{
        width: 44%;
    }
}
*/

@media only screen and (max-width: 600px){
    .footer-items{
        width: 100%;
    }
}
