html {
    scroll-behavior: smooth;
}



/*Fonts and sizes*/

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

p {
    font-weight: 300;
}

body {
    color: #0D0D0D;
    font-family: "Raleway", sans-serif;
}

/*  H E A D E R */

.logo {
    width: 30em;
    margin: 0px;
    display: inline-block;
}

/* burger menu */
.burgerMenu {
    display: inline-block;
    cursor: pointer;
    margin-left:auto;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



/*   BASIC  G R I D  LAYOUT Anna  */
body {
    display: grid;
    grid-template-areas: "header""slides""main""ads""footer";
    grid-template-columns: 1fr 2fr 2fr;
    margin: 0px;
}

header {
    grid-area: header;
    grid-column: 1/4;
    grid-row: 1;
    margin: 0px;
}

.slides {
    grid-area: slides;
    grid-column: 1/4;
    grid-row: 2;
}

main {
    grid-area: main;
    grid-column: 2/4;
    grid-row: 3;
}


.ads {
    grid-area: ads;
    grid-column: 1;
    grid-row: 3;
    margin: 10px 10px 10px 40px;
}

footer {
    grid-area: footer;
    grid-column: 1/4;
}


@media only screen and (max-width:950px) {
    /*the size is just a random guess, need to change when we find the correct one*/

    /*    basic grid smaller Anna*/
    body {
        grid-template-columns: 1fr;
    }

    header {
        grid-column: 1;
        grid-row: 1;
    }

    .slides {
        grid-column: 1;
        grid-row: 2;
    }

    main {
        grid-column: 1;
        grid-row: 3;
    }

    .ads {
        grid-column: 1;
        grid-row: 4;
        margin: 0px;
        /*  needs to be changed */
    }

    footer {
        grid-column: 1;
        grid-row: 5;
    }

    /*   basic grid layout end */


    .logo {
        width: 20em;
    }

}






/* burger menu code from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js
*/
