html {
    scroll-behavior: smooth;
}

:root {
    --black: #0D0D0D;
    --white: #fff;
    --darker-grey: #CBCAC6;
    --light-grey: #EBEBEB;
    --brown: #BFA18F;
    --beige: #E9D8C0;

}

.headerLine {
    display: inline-flex;

}

.line {
    border-bottom: solid .09em var(--black);
    width: 50vw;
    height: 42px;
    margin: 0 0 30px;

}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style: none;
}

/*Fonts and sizes*/

h1 {
    font-weight: 600;
    padding: 0 1em 0 0;
}

h2,
h3,
h4 {
    font-weight: 500;
}


p {
    font-weight: 300;

}

body {
    color: var(--black);
    font-family: "Raleway", sans-serif;
}

main {
    margin: 20px 170px 20px 70px;
}

.ads {}

/*  H E A D E R */
header {
    display: inline-flex;
    /*    padding-top: 10px;*/
}

.logo {
    width: 30em;
    margin: 0px;
    /*    display: inline-block;*/
}

.tagline {
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: -120px;
    color: var(--darker-grey);
}

/* burger menu */


.bar1,
.bar2,
.bar3 {
    width: 40px;
    height: 2px;
    background-color: #333;
    margin: 12px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 11px);
    transform: rotate(-45deg) translate(-9px, 11px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -11px);
    transform: rotate(45deg) translate(-8px, -11px);
}

.navbar {
    width: 300px;
    /*    height: 100%;*/
    background-color: var(--light-grey);
    position: fixed;
    top: 0px;
    padding: 110px 0 30px 20px;
    right: -300px;
    transition: right .8s;
    margin-right: -30px;
}

.change {
    right: 30px;
}

.burgerMenu {
    /*    display: inline-block;*/
    cursor: pointer;
    /*    margin-left:auto;*/
    /*    padding:55px 80px 0 0;*/

    position: fixed;
    top: 50px;
    right: 80px;
}

.navItem {
    padding: 10px;
}

.navLink {
    font-size: 20px;
    font-weight: lighter;
    padding: 0 5px;
}

.navLink:hover {
    /* This is just something - NEED TO DECIDE HOW SHOULD LOOK*/
    border-bottom: solid var(--brown) 0.1px;
    padding-bottom: 5px;
    color: var(--brown);
}


/*   BASIC  G R I D  LAYOUT Anna  */
body {
    display: grid;
    grid-template-areas: "header""slides""main""ads""footer";
    grid-template-columns: 1fr 2fr 2fr;
    margin: 0px;
}

header {
    grid-area: header;
    grid-column: 1/4;
    grid-row: 1;
    margin: 0px;
}

.slides {
    grid-area: slides;
    grid-column: 1/4;
    grid-row: 2;
}

main {
    grid-area: main;
    grid-column: 2/4;
    grid-row: 3;
}


.ads {
    grid-area: ads;
    grid-column: 1;
    grid-row: 3;
    margin: 10px -10px 10px 70px;
}

footer {
    grid-area: footer;
    grid-column: 1/4;
}


/*Calendar styling*/

.calendar {
    width: 260px;
    text-align: center;
}

.day-of-week,
.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 16px;
    height: 10px;
    width: 10px;
    margin-top: 5px;
    padding: 0 5px;
    position: relative;
    z-index: 2;
}

.date-grid button:first-child {
    grid-column: 5;
}

.day {
    padding: 2px;
    margin-bottom: 5px;
}

.date-grid {
    margin-top: 15px;
    grid-gap: 3px;
}

button {
    border: none;
    background: transparent;
}

button :hover {
    background-color: black;
    color: white;
}

button :active {
    background-color: black;
    color: white;
}

.month {
    display: flex;
    text-align: center;
}

time {
    padding-top: 1px;
    padding-right: 3px;
    padding-bottom: 2px;
    padding-left: 3px;
}

.calendar-marker {
    height: 35px;
    width: auto;
    z-index: 1;
    /*    margin: 20px 10px;*/
    position: absolute;
    left: 25.2vw;
    top: 49.5vh;
    opacity: .7;

}

.month {
    display: inline-block;
    padding: -1px 120px;
    ;
}

.month p {
    display: inline-block;
    width: 200px;
}

.arrow1 {
    display: inline;
    padding-right: 50px;
}

.arrow2 {
    display: inline;
    padding-left: 45px;
}

.calendar-top {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

/*Calendar styling end*/
/*Calendar page styling*/

.h1-calendar-page {
    padding-top: 50px;
}

/*template calendar page*/

.temp-calendar-page > img {
    max-height: 200px;
    max-width: 250px;
    float: right;
    order: -1;
}

.temp-calendar-page,
.article-institution {
    margin-left: 70px;
    display: grid;
    grid-template-columns: 250px 2fr;
    grid-gap: 29px;
    margin-bottom: 10px;
}

.article-institution {
    grid-column: 1/-1;
    max-width: 300px;
}

.temp-paragraph {
    font-style: italic;
    font-size: 14px;
}

.temp-event-name {
    margin: 0;
}

.temp-artist {
    margin-top: 5px;
}

.temp-calendar-page {
    margin-bottom: 30px;
}

/*Calendar page styling end*/

.hide {
    display: none;
}

@media only screen and (max-width:950px) {
    /*the size is just a random guess, need to change when we find the correct one*/

    /*    basic grid smaller Anna*/
    body {
        grid-template-columns: 1fr;
    }

    header {
        grid-column: 1;
        grid-row: 1;
    }

    .slides {
        grid-column: 1;
        grid-row: 2;
    }

    main {
        grid-column: 1;
        grid-row: 3;
                margin: 20px;

    }

    .ads {
        grid-column: 1;
        grid-row: 4;
        margin: 0px;
        /*  needs to be changed */
    }

    footer {
        grid-column: 1;
        grid-row: 5;
    }

    /*   basic grid layout end */


    .logo {
        width: 20em;
    }

    .tagline {
        margin-bottom: 10px;
        margin-left: -80px;
        color: var(--darker-grey);
        font-size: 14px;
    }

    .burgerMenu {
        top: 30px;
        right: 40px;
    }

    /* burger menu changes to X - this makes it smaller than it was in desktop*/
    .bar1,
    .bar2,
    .bar3 {
        width: 30px;
        height: 2px;
        background-color: #333;
        margin: 8px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -5px);
        transform: rotate(45deg) translate(-8px, -5px);
    }

    /* burger menu finished*/

    /*    Calendar page*/

    /*template calendar page*/

    .calendar-top {
        grid-gap: 40px;
    }

    .temp-calendar-page > img {
        max-height: 200px;
        max-width: 250px;
        float: inherit;
        order: -1;
    }

    .temp-calendar-page,
    .article-institution {
        display: block;
    }

    .temp-calendar-page {
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    }
}

@media only screen and (max-width:500px) {

    .logo {
        width: 15em;
        padding-top: 7px;
    }

    .burgerMenu {
        top: 30px;
        right: 25px;
    }

    .navbar {
        width: 100%;
        height: 100%;
        padding: 110px 18px 100px;
        right: -120%;
        margin: 0px;
    }

    .tagline {
        margin-bottom: 0px;
        margin-left: -190px;
        color: var(--darker-grey);
        font-size: 13px;
    }

    .change {
        right: 0;
    }

    .navItem {
        padding: 20px;
        text-align: center;
    }

    .line {
        display: none;
    }

    .calendar-top {
        display: block;
        margin-left: 100px;
    }

    .quick-search {
        margin-top: 100px;
    }

}

/* burger menu code inspired by these two sites: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js and
https://www.youtube.com/watch?v=BN6fH1nRDxA
*/
